image.onetopai.com {
  encode gzip zstd
  reverse_proxy app:3000
}

http://15.204.120.13 {
  encode gzip zstd
  reverse_proxy app:3000
}

json.caosiwo.xyz {
  encode gzip zstd
  reverse_proxy json-card-redeemer-app:3030
}
